@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header ul {
    list-style-type: none;
    display: flex;
    text-align: center;
}

header ul li {
    flex: 1;
    border: 1px solid black;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    &.li_maior {
        flex: 3;
    }
}

header ul a {
    font-size: 2.4em;
    color: black;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

header ul .a_conta {
    display: flex;
    align-items: center;
    &:hover {
        text-decoration: none;
    }
}

header a .material-symbols-outlined {
    font-size: 1.1em;
    &:hover {
        scale: 1.2;
    }
}

label.lbl_pesquisa {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .4s;
    background-color: rgb(235, 235, 235);
    padding: 7px;
    border-radius: 20px;
}

label.lbl_pesquisa input {
    padding: 5px;
    background-color: transparent;
    border: 0;
    outline: 0;
    font-size: 0.9em;
    width: 175px;
    transition: .4s;
}

label.lbl_pesquisa ::placeholder {
    color: black;
    opacity: 1;
}

label.lbl_pesquisa:not(:focus-within) input {
    width: 0;
    border: 0;
    padding: 0;
}