@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    scroll-behavior: smooth;
}

:root {
    --cor-fundo: #ddd9d9;
    --fundo-link: #ebebeb;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ddd9d9;

    background-position: center center;
    background-image: url(../assets/images/img-background.jpg);
    &.parado {
        overflow: hidden;
    }
}

/* ! Cabeçalho */
.header-principal {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 4;
}

.header-principal ul {
    height: 70px;
    display: flex;
    text-align: center;
}

.header-principal ul li {
    flex: 1;
    border: 1px solid black;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.li_maior {
        flex: 3;
    }
}

.header-principal li:has(.btn_menu) {
    display: none;
}

.btn_menu {
    border: 0;
    outline: 0;
    background-color: transparent;
    cursor: pointer;

    display: flex;
    align-items: center;

    & .material-symbols-outlined {
        font-size: 3.5em;
    }
}

.header-principal ul a {
    font-size: 2.4em;
    color: black;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.header-principal ul .a_conta {
    display: flex;
    align-items: center;

    &:hover {
        text-decoration: none;
    }
}

.header-principal a .material-symbols-outlined {
    font-size: 1.1em;

    &:hover {
        scale: 1.2;
    }
}

label.lbl_pesquisa {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .4s;
    background-color: rgb(235, 235, 235);
    padding: 7px;
    border-radius: 20px;
}

label.lbl_pesquisa input {
    padding: 5px;
    background-color: transparent;
    border: 0;
    outline: 0;
    font-size: 0.9em;
    width: 175px;
    transition: .4s;
}

label.lbl_pesquisa ::placeholder {
    color: black;
    opacity: 1;
}

label.lbl_pesquisa:not(:focus-within) input {
    width: 0;
    border: 0;
    padding: 0;
}

/* ! Sidebar */

.sidebar {
    --altura: calc(100svh - 70px);

    max-width: 200px;
    background-color: var(--cor-fundo);
    border-right: 2px solid black;
    font-size: 1.9em;
    height: var(--altura);
    z-index: 3;

    animation: sidebar-aparecer .8s ease-out;
    position: fixed;
    top: 70px;
}

.sidebar ul {
    padding: 15px 10px;
    height: var(--altura);

    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.sidebar a {
    color: black;
    text-decoration: none;
    transition: .4s;
    display: block;
    padding: 5px 0;
    border-radius: 100px;

    &:hover {
        text-decoration: underline;
        background-color: var(--fundo-link);
    }
}

.sidebar .lbl_pesquisa_sidebar {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .4s;
    background-color: var(--fundo-link);
    padding: 7px;
    border-radius: 20px;

    & ::placeholder {
        color: black;
        opacity: 1;
    }
}

.sidebar label input {
    width: 90%;
    padding: 5px;
    background-color: transparent;
    border: 0;
    outline: 0;
    transition: .4s;
    font-size: 0.6em;
}

.sidebar .material-symbols-outlined {
    font-size: 0.8em;
}

.sidebar ul li:last-child {
    margin-top: auto;

    & a {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.8em;
        gap: 5px;
        text-transform: capitalize;
        text-decoration: none;
        transition: .4s;

        &:hover {
            scale: 1.1;
        }

        & .material-symbols-outlined {
            font-size: 1.4em;
        }
    }
}

@keyframes sidebar-aparecer {
    from {
        translate: -100% 0;
    }

    to {
        translate: 0 0;
    }
}

@keyframes sidebar-sumir {
    from {
        translate: 0 0;
    }

    to {
        translate: -100% 0;
        display: none;
    }
}

.d-none {
    display: none;
}

.sidebar.fechado {
    animation: sidebar-sumir .8s ease-out forwards;
}

.backdrop {
    background-color: rgba(0, 0, 0, 0.637);
    position: fixed;
    inset: 0;
}

/* ! main */
main {
    flex: 1;
}

.main-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0;
    gap: 30px;
}

.main-principal a:not(:has(img))[target="_blank"] {
    &::after {
        background-color: black;
        content: "";
        display: inline-flex;
        height: 10px;
        margin-left: 4px;
        mask-image: url(../assets/images/export.png);
        mask-size: cover;
        width: 10px;
    }

    &:hover {
        text-decoration: none;
    }
}

.main-principal section {
    background-color: var(--cor-fundo);
    width: 90vw;
    overflow: hidden;
    border: 1px solid black;
}

.section-primaria {
    display: flex;
}

.section-primaria article {
    flex: 1;
    padding: 25px;

    & h2 {
        font-size: clamp(2em, 2vw, 2.8em);
    }
}

.article-albuns div {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;

    & :first-child {
        grid-column: 1 / 3;
        grid-row: 1 / 3;

        & img:hover {
            scale: 1.03;
        }
    }
}

.article-albuns a:not([href^="https://"]) {
    cursor: not-allowed;
}

.article-albuns img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .4s;

    &:hover {
        scale: 1.1;
    }
}

/* Artigo Resumo */

.article-resumo {
    border: 0px solid black;
    border-left-width: 1px;
}

.div-titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-bottom: 25px;
}

.logo-yun-li {
    width: 100px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.article-resumo p {
    font-size: clamp(0.9em, 1.3vw, 1.3em);
    text-indent: 20px;
    margin-bottom: 15px;
    line-height: 1.3em;
    text-align: justify;
}

/* Seção Notícias */

.section-secundaria div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

:is(.section-secundaria, .section-terciaria) h2 {
    font-size: clamp(2em, 2vw, 2.8em);
    text-align: center;
    padding: 15px 0;
    border-bottom: 0.5px solid black;
}

.section-secundaria article {
    padding: 20px;
    border: 0.5px solid black;
    overflow: hidden;
}

.section-secundaria h3 {
    font-size: clamp(1.4em, 1.5vw, 1.6em);
    text-align: center;
    margin-bottom: 15px;
}

.section-secundaria figure {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 35px;
    margin-bottom: 15px;

    & img {
        grid-row: 1 / 3;
        grid-column: 1 / 2;
        width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
    }

    & figcaption {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        background-color: rgba(0, 0, 0, 0.74);
        color: white;
        font-size: 1.4em;
        padding: 5px 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
    }
}

.section-secundaria p {
    text-indent: 20px;
    font-size: 1.1em;
    line-height: 1.3em;
}

.section-secundaria address {
    text-align: right;
    margin-top: 10px;
}

.article-biografia {
    columns: 430px 2;
    padding: 20px;
    column-rule: 1px solid black;
    column-gap: 40px;
}

.article-biografia h3 {
    break-after: avoid;
    font-size: clamp(1.4em, 1.5vw, 1.6em);
    text-align: center;
    margin: 30px 0;
}

.article-biografia p {
    orphans: 3;
    widows: 3;
    text-align: justify;
    font-size: 1.3em;
    line-height: 1.3em;
    text-indent: 20px;
}

.article-biografia img {
    width: 100%;
}

.article-biografia figure {
    max-width: 300px;
    width: 50%;
    float: left;
    margin: 15px 30px;
}

footer {
    display: flex;
    background-color: rgb(149, 109, 236);
    font-size: 1.2em;
    gap: 30px;
}

footer>div {
    flex: 1;
}

footer .div-dados {
    display: flex;
}

footer img {
    width: 100px;
    height: 100px;
    margin-right: 15px;
}

footer h2 {
    margin-top: 15px;
}

footer a {
    color: white;

    &:hover {
        color: black;
    }
}

/*! Formulário */

.main-formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
}

.main-formulario fieldset {
    max-width: 500px;
    width: 80vw;
    border: 0;
    padding: 50px;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15.8px);
    -webkit-backdrop-filter: blur(15.8px);
    border: 1px solid rgba(255, 255, 255, 1);
}

.main-formulario h2 {
    margin: 30px 0;
    font-size: 2.7em;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.main-formulario div {
    font-size: 1.7em;
    max-width: 500px;
    width: 70vw;
    display: flex;
    gap: 30px;
    align-items: center;

    & input {
        font-size: 0.8em;
        padding: 7px 10px;
        flex: 1;
    }
}

.main-formulario button {
    align-self: end;
    padding: 15px 30px;
    border: 1px solid black;
    color: white;
    background-color: rgb(155, 93, 230);
    cursor: pointer;

    &:hover {
        background-color: rgb(110, 66, 163);
    }
}